.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: $bp-md) {
        justify-content: flex-end;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }
}

.nav-btn {
    border: none;
    border-radius: 0;
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    margin-top: 6rem;
    &::before,&::after {
        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        content: "";
        display: block;
    }
    &::before {transform: translateY(-1.5rem);}
    &::after {transform: translateY(1.3rem);}
    @media only screen and (max-width: $bp-md) {
        margin-top: 2.7rem;
        margin-right: 3rem;

    }
}